body {
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: small;
}

.header {
	float: right;
}

.header ul {
	padding-right: 27px;
}

.header ul li {
	display: inline-block;
	list-style-type: none;
}

.header a {
	text-decoration: none;
	color: #777777;
}

#main {
	text-align: center;
}

img {
	width: 269px;
	height: 95px;
	padding-top: 112px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

#search {
	height: 102px;
	text-align: center;
}

#search form input {
	height: 26px;
	margin: 10px auto;
	width: 569px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#search form button {
	border: 1px solid rgba(0, 0, 0, 0.098);
	border-radius: 2px;
	font-size: 11px;
	color: #444444;
	margin-top: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-size: auto auto;
	background-color: #ffffff;
	font-weight: bold;
}

.left {
	float: left;
}

.left li {
	display: inline-block;
}

.right {
	float: right;
}

.right li {
	display: inline-block;
}

.footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	font-family: Helvetica, Arial;
	background-color: #f2f2f2;
}

.footer li {
	padding-right: 27px;
}