body {
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: small;
}

div.header {
	float: right;
}

.header. ul {
	padding-right: 27px;
}

.header ul li {
	display: inline-block;
	list-style-type: none;
}

.header a {
	text-decoration: none;
	color: #777777;
}

div#main {
	text-align: center;
}

img {
	width: 269px;
	height: 95px;
	padding-top: 112px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

div#search {
	height: 102px;
	text-align: center;
}

#search form input {
	height: 26px;
	margin-top: 19px;
	width: 569px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#search form button {
	border: 1px solid rgba(0, 0, 0, 0.098);
	border-radius: 2px;
	font-size: 11px;
	color: #444444;
	margin-top: 8px;
}